<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.yangge.dao.TeamDao">
   <insert id="insertTeam" useGeneratedKeys="true" keyProperty="teamID" parameterType="cn.ac.yangge.pojo.Team">
      insert into team_info
      (teamName,teamLeader,teamMember,teamTime)
      values(#{teamName},#{teamLeader},#{teamMember},#{teamTime})
   </insert>
   <select id="getTeamByID" resultType="cn.ac.yangge.pojo.Team" parameterType="java.lang.Integer">
    	select * from team_info where teamID=#{teamID}
    </select>
    <select id="getTeamByTeamName" resultType="cn.ac.yangge.pojo.Team" parameterType="java.lang.String">
    	select * from team_info where teamName=#{teamName}
    </select>
    <select id="getUserTeamList" parameterType="java.lang.String" resultType="cn.ac.yangge.pojo.Team">
    	SELECT `teamID`,`teamName` FROM team_info WHERE teamLeader=#{teamLeader}
    </select>
    <update id="updateTeam" parameterType="cn.ac.yangge.pojo.Team">
    	update team_info set
    	teamName=#{teamName},
    	teamLeader=#{teamLeader},
    	teamMember=#{teamMember}
    	where 
    	teamID=#{teamID}
    </update>
    <delete id="deleteTeam" parameterType="java.lang.Integer">
    	delete from team_info where teamID=#{teamID}
    </delete>
  </mapper>