<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.yangge.dao.UserConfDao">
  <resultMap id="BaseResultMap" type="cn.ac.yangge.pojo.UserConf" >
    <id column="confID" property="confID" jdbcType="DECIMAL" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DECIMAL" />
  </resultMap>
    <insert id="insertUserConf" useGeneratedKeys="true" keyProperty="confID" parameterType="cn.ac.yangge.pojo.UserConf">
       insert into user_conf(tel,password,code,time) values(#{tel},#{password},#{code},#{time})
    </insert>
    <select id="getUserConfByID" resultType="cn.ac.yangge.pojo.UserConf" parameterType="java.lang.Integer">
    	select * from user_conf where confID=#{confID}
    </select>  
    <select id="getUserConfByTel" resultType="cn.ac.yangge.pojo.UserConf" parameterType="java.lang.String">
    	select * from user_conf where tel=#{tel}
    </select>  
    <update id="updateCode" useGeneratedKeys="true" keyProperty="confID" parameterType="cn.ac.yangge.pojo.UserConf">   
    	update user_conf set
		code=#{code}
		where tel = #{tel}
    </update>
    <delete id="deleteUserConfByID" parameterType="java.lang.Integer">   delete from user_conf where confID = #{confID}</delete>
</mapper>